.inputTask {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  border-radius: 5px;
  height: auto;
  width: 100%;
  margin: 0;

  &Label {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
  }

  &Checkbox {
    width: 25px;
    height: 25px;
    cursor: pointer;
  }

  &Title {
    font-weight: normal;
    margin: 0;
    max-width: 400px;
    word-wrap: break-word;
  }

  &Input {
   width: 100%;
    box-sizing: border-box;
  }

  .actions {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}