.calendar {
  text-align: center;
  margin: 20px;

  &Header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: cornflowerblue;
    color: white;
    padding: 10px;
    border-radius: 5px;
  }

  &Title {
    margin: 0;
  }

  &Days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
    list-style: none;
    padding: 0;

    .dayItem {
      display: inline-block;
      width: 30px;
      height: 30px;
      line-height: 30px;
      margin: 5px;
      background-color: #f0f0f0;
      border-radius: 50%;
      cursor: pointer;
    }

    .dayWithTasks {
      display: inline-block;
      width: 30px;
      height: 30px;
      line-height: 30px;
      margin: 5px;
      background-color: rgba(100, 149, 237, 0.5);;
      border-radius: 50%;
      cursor: pointer;
    }

    .dayWithTasks:hover {
      background-color: cornflowerblue;
      transition: 0.3s ease-in-out;
    }
  }
}


@media (max-width: 600px) {
  .calendar {
    &Days {
      grid-template-columns: repeat(7, 1fr);
      grid-gap: 5px;
    }
  }
}

@media (max-width: 490px) {
  .calendar {
    &Days {
      grid-template-columns: repeat(7, 1fr);
      grid-gap: 3px;
    }
  }
}
