.inputAdd {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 2px solid lightgray;
  gap: 10px;

  &Input {
    width: 100%;
  }

  &Button {
    height: 56px;
  }
}





